body{
  margin: 0;
  padding: 0;
}

.logo img {
  height: 30px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  position: relative;
  font-weight: 500;
}

.center-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  bottom: -10px;
  left: 0;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  background: transparent;
  border: 2px dotted white;
  color: white;
  padding: 9px 16px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}

.lang-selector {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}


.navbar {
  background-color: #c8102e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  padding-left: 150px;
  padding-right: 150px;
  height: 55px;
  font-family: 'Helvetica', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}


.center-link {
  
  position: relative;
  font-size: 15px;
  letter-spacing: 2px;
}

.center-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
/* Responsive Tablette */
@media (max-width: 1024px) {
  .nav-links {
    gap: 20px;
  }

  .login-btn,
  .lang-selector {
    font-size: 18px;
    padding: 10px 14px;
  }

  .center-link {
    font-size: 18px;
  }

  .navbar {
    padding: 0 20px;
  }
}

/* Responsive Téléphone */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height:auto;
    position: relative;
  }

  .logo img {
    height: 40px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-actions {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .login-btn,
  .lang-selector {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }

  .center-link {
    font-size: 16px;
  }
}
